[submodule "sh_cuda/csrc/third_party/glm"]
	path = submodules/mvp/sh_cuda/csrc/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "rendering_cuda"]
	path = submodules/mvp/rendering_cuda
	url = https://github.com/Gynjn/gsplat.git
